body{
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: #FFFFFF;
}
h2{
	font-family: 'BentonSansRegular';
}
/*GENERAL*/
.mdl-container{
	max-width: 1350px;
	margin-right: auto;
	margin-left: auto;
}
.bottom-right{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 40px;
	opacity: 0;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.bottom-right p{
    margin: 0;
    font-family: 'BentonSansRegular';
    font-size: 24px;
}
.fp-viewing-0-3 .bottom-right{
	opacity: 1;
}
.fp-viewing-0-0 .background-body{
	opacity: 1;
	z-index: 2;
}
.fp-viewing-0-1 .header-home,
.fp-viewing-0-2 .header-home,
.fp-viewing-0-3 .header-home,
.fp-viewing-0-4 .header-home,
.fp-viewing-0-5 .header-home{
	opacity: 0;
}
.fp-viewing-0-1 .header,
.fp-viewing-0-2 .header,
.fp-viewing-0-3 .header,
.fp-viewing-0-4 .header,
.fp-viewing-0-5 .header{
	opacity: 1;
}
.background-body{
	height: 100vh;
	width: 300px;
    position: absolute;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.background-body .background-body1,
.background-body .background-body2,
.background-body .background-body3{
	height: 100%;
    width: 100%;
    max-width: 100px;
    float: right;
}
.background-body .background-body1{
	background-color: #54442E;
}
.background-body .background-body2{
	background-color: #8D6832;
}
.background-body .background-body3{
	background-color: #E29D2E;
}
.fp-viewing-0-0 .fp-controlArrow.fp-next{
    right: calc(0% + 350px);
}
/*HEADER*/
.header-home{
	position: fixed;
    top: 0;
    width: 100%;
    padding: 40px;
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.header-home img{
	max-width: 150px;
}
.fondo-bottom{
	position: absolute;
	bottom: 0;
	z-index: 0;
}
.fondo-bottom img{
	max-width: 1500px;
}
.logo-bottom{
	position: absolute;
	bottom: 0;
	padding: 40px;
}
.logo-bottom img{
	max-width: 150px;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
    z-index: 5;
    -webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
    opacity: 0;
}
.header-left{
    padding: 20px 40px;
    float: left;
}
.header-right{
    float: right;
    height: 88px;
    max-width: 225px;
    width: 100%;
}
.header-right .bootstrap-select{
	float: left;
}
.header-right .background1,
.header-right .background2,
.header-right .background3{
    height: 100%;
    width: 100%;
    max-width: 25px;
    float: right;
}
.header-right .background1{
	background-color: #54442E;
}
.header-right .background2{
	background-color: #8D6832;
}
.header-right .background3{
	background-color: #E29D2E;
}
.header h2{
	margin: 0;
	padding: 0;
	display: inline-block;
	border-left: 1px solid #FFFFFF;
	padding-left: 20px;
	vertical-align: middle;
    font-size: 24px;
}
.logo-header{
	max-width: 140px;
	margin-right: 20px;
}
/*QUESTIONS*/
.question{
	margin-bottom: 40px;
}
span.number{
	color: #FBB819;
    font-size: 75px;
    font-weight: 100;
    margin-right: 10px;
    display: inline-block;
}
.question h2{
	display: inline-block;
	text-align: left;
}
/*FULLPAGE*/
.fp-controlArrow.fp-prev{
	border-color: transparent #FBB819 transparent transparent
}
.fp-controlArrow.fp-next{
	border-color: transparent transparent transparent #FBB819;
}
/*MDL-CARD-QUESTION*/
.mdl-card-question{
	display: inline-block;
	max-width: 210px;
	margin: 5px;
}
.mdl-card-3{
	max-width: 190px;
}
.mdl-card-3 .flip-card{
	width: 190px;
}
.flip-card{
	position: relative;
	background-color: transparent;
	cursor: pointer;
	transform-style: preserve-3d;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    text-align: center;
	min-width: 100px;
	max-width: 400px;
	border-radius: 10px;
	width: 210px;
  	height: 200px;
}
.flip-card .card-front,
.flip-card .card-back {
	border: 1px solid #FBB819;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 500ms;
	-o-transition: -o-transform 500ms;
	-webkit-transition: -webkit-transform 500ms;
	transition: transform 500ms;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 2px rgba(14, 85, 143, 0.8);
	-webkit-box-shadow: 1px 1px 2px rgba(14, 85, 143, 0.8);
	box-shadow: 1px 1px 2px rgba(14, 85, 143, 0.8);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}
.flip-card .card-front {
	-moz-transform: perspective(600) rotateY(0);
	-webkit-transform: perspective(600) rotateY(0);
	transform: perspective(600) rotateY(0);
	z-index: 900;
}
.flip-card .card-back {
	-moz-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	z-index: 800;
	background-color: #F8B22C;
}
.flip-card:hover .card-front {
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-moz-transform: perspective(600) rotateY(180deg);
	-webkit-transform: perspective(600) rotateY(180deg);
	transform: perspective(600) rotateY(180deg);
}
.flip-card:hover .card-front.card-front-none{
	-moz-transform: rotateY(0);
	-ms-transform: rotateY(0);
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	cursor: default;
}
.flip-card:hover .card-back {
	z-index: 950;
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-moz-transform: perspective(600) rotateY(0deg);
	-webkit-transform: perspective(600) rotateY(0deg);
	transform: perspective(600) rotateY(0deg);
}
.flip-card .card-back label{
	font-family: 'BentonSansLight';
	color: #000000;
    line-height: 14px;
    font-size: 12px;
    padding: 25px 5px 0 5px;
    height: 162px;
}
.flip-card .card-back p{
	font-family: 'BentonSansBold';
	position: relative;
	bottom: 0;
}
.content-card .mdl-button--raised.button-select,
.content-card .mdl-button--raised:hover{
    background-color: #FBB819;
}
.content-card .mdl-button--raised{
	width: 100%;
    border-radius: 0;
    margin: 10px 0;
    color: #FFFFFF;
    font-family: 'BentonSansBold';
    text-transform: initial;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #FBB819;
    -webkit-transition: background-color .25s linear;
    -moz-transition: background-color .25s linear;
    -ms-transition: background-color .25s linear;
    -o-transition: background-color .25s linear;
    transition: background-color .25s linear;
}
.content-card .mdl-button--raised.select-tam{
	padding: 0 5px;
	margin: 0;
	margin-top: 10px;
}
.content-card .select-empleados{
	margin: 10px 0;
	border: 1px solid #FBB819;
	height: 36px;
}
.content-card .select-empleados span{
	max-width: 105px;
    display: inline-block;
    width: 100%;
    font-family: 'BentonSansBold';
    font-size: 18px;
    vertical-align: middle;
    line-height: 32px;
}
.content-card .select-empleados button i{
	color: #FFFFFF;
}
.content-card .contenido{
	border-top: 1.5px solid #FFFFFF;
	border-bottom: 1.5px solid #FFFFFF;
    padding: 5px 0;
    -webkit-transition: opacity .25s linear, transform .25s linear;
    -moz-transition: opacity .25s linear, transform .25s linea;
    -ms-transition: opacity .25s linear, transform .25s linea;
    -o-transition: opacity .25s linear, transform .25s linea;
    transition: opacity .25s linear, transform .25s linea;
    opacity: 0;
    transform: translateY(100px);
}
.content-card .contenido.aparecer{
	opacity: 1;
    transform: translateY(0);
}
.content-card .contenido-left{
	width: 48px;
	display: inline-block;
	vertical-align: middle;
}
.content-card .contenido-left img{
	max-width: 45px;
}

.content-card .contenido-right{
	width: calc(100% - 53px);
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
#ModalQuestion .mdl-card .mdl-card__supporting-text h2,
.content-card .contenido-right h2{
	font-size: 18px;
    font-family: 'BentonSansBold';
    margin: 5px 0;
    line-height: 20px;
}
.content-card .contenido-right p{
	font-family: 'BentonSansLight';
    line-height: 14px;
    font-size: 12px;
    height: 100px;
}
.mdl-card-3 .content-card .contenido-right p{
	height: 75px;
}
.content-card .contenido-right small{
	font-family: 'BentonSansLight';
    font-size: 10px;
    font-style: italic;
}
.mdl-card-question .card-front img{
	width: 100%;
	max-width: 135px;
    margin: 20px auto 10px;
}
.mdl-card-question .card-front p{
	color: #FFFFFF;
}

.mdl-card-question .card-back i,
.mdl-card-question .card-front i,
.mdl-card__menu{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #FFFFFF;
	font-size: 15px;
}
/*BOOTSTRAP-SELECT*/
.bootstrap-select .dropdown-menu>li>a{
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	transition: background-color .2s linear;
}
.bootstrap-select .dropdown-menu>li>a:focus, 
.bootstrap-select .dropdown-menu>li>a:hover{
    background-color: #FDB917;
    outline: none;
}
.bootstrap-select .btn-default.active, 
.bootstrap-select .btn-default:active, 
.bootstrap-select.open>.dropdown-toggle.btn-default,
.bootstrap-select .btn-default:focus,
.bootstrap-select .btn-default{
	background-color: transparent;
	border: none;
    color: #FFFFFF;
    outline: none !important;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 105px;
	margin-top: 30px;
}
/*BARRA SCROLL*/
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
/*ModalQuestion*/
#ModalQuestion .modal-content{
	background-color: #000000;
}
#ModalQuestion .mdl-card{
	display: inline-block;
	background-color: #000000;
	max-width: 300px;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}
#ModalQuestion .mdl-card .mdl-card__title{
    width: 85px;
    display: inline-block;
    vertical-align: middle;
} 
#ModalQuestion .mdl-card .mdl-card__title img{
	width: 100%;
}
#ModalQuestion .mdl-card .mdl-card__supporting-text{
    width: calc(100% - 90px);
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    text-align: left;
}
#ModalQuestion .mdl-card .mdl-card__supporting-text p{
    font-family: 'BentonSansLight';
    line-height: 16px;
    font-size: 14px;
    height: 120px;
}
#ModalQuestion .mdl-card .mdl-card__menu button i{
	color: #FFFFFF;
}
.modal.fade .modal-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-width: 300px;
    width: 100%;
}
.modal.fade.in .modal-dialog{
	opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@media (max-width: 768px){
	.background-body{
		max-width: 180px;
	}
	.background-body .background-body1, 
	.background-body .background-body2, 
	.background-body .background-body3{
		max-width: 60px;
	}
	.fp-viewing-0-0 .fp-controlArrow.fp-next{
		right: calc(0% + 215px);
	}
	.fondo-bottom img{
		max-width: 850px;
	}
	.mdl-container{
		max-width: 750px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.mdl-container .title-home{
		max-width: 480px;
    	font-size: 40px;
	}
	.mdl-flex{
		display: flex;
		overflow-y: scroll;
		max-width: 625px;
	}
	.logo-header{
		max-width: 120px;
	}
	.header h2{
		font-size: 18px;
	}
	.header-right .background1, 
	.header-right .background2, 
	.header-right .background3{
		max-width: 20px;
	}
	.header-right{
		max-width: 180px;
	}
	.bottom-right{
		max-width: 300px;
	}
	/*QUESTION*/
	.question h2{
    	max-width: 400px;
	    font-size: 38px;
	    line-height: 38px;
	    width: 100%;
	}
}
@media (max-width: 420px){
	.logo-bottom,
	.header-left,
	.header-home{
		padding: 20px;
	}
	.background-body{
		max-width: 60px;
	}
	.background-body .background-body1, 
	.background-body .background-body2, 
	.background-body .background-body3{
		max-width: 20px;
	}
	.logo-home{
		max-width: 200px;
	}
	.mdl-container{
		padding-right: 20px;
		padding-left: 20px;
	}
	.mdl-container .title-home{
        max-width: 250px;
	    font-size: 22px;
	    line-height: 26px;
	}
	.fp-viewing-0-0 .fp-controlArrow.fp-next{
		right: calc(0% + 70px);
	}
	.fp-controlArrow.fp-next{
		border-width: 25px 0 25px 20px;
	}
	.fp-controlArrow.fp-prev{
		border-width: 25px 20px 25px 0
	}
	.fondo-bottom img{
		max-width: 400px;
	}
	.logo-header{
		max-width: 75px;
	    margin-right: 5px;
	}
	.header h2{
	    font-size: 12px;
	    max-width: 120px;
	    line-height: 14px;
	    padding-left: 5px;
	}
	.header-right{
		max-width: 105px;
		height: 68px;
	}
	.header-right .background1, 
	.header-right .background2, 
	.header-right .background3{
		max-width: 3px;
	}
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
		width: 95px;
    	margin-top: 18px;
	}
	.bootstrap-select.btn-group .dropdown-toggle .filter-option,
	.bootstrap-select.btn-group .dropdown-menu li a span.text{
		font-size: 13px;
	}
	.question{
		margin-bottom: 20px;
	}
	.question h2{
		max-width: 205px;
    	font-size: 19px;
	    line-height: 20px;
	    margin: 0;
	}
	span.number{
	    font-size: 40px;
	}
	.bottom-right{
		padding: 20px;
    	max-width: 165px;
	}
	.bottom-right p{
		font-size: 14px;
    	line-height: 16px;
	}
}	
@media (max-width: 420px) and (max-height: 640px){
	.mdl-card-question .contenido{
		display: none;
	}
}