/*COLORES DE LETRAS*/
.ORANGE_COLOR {
	color: #FDB917;
}
.BLANCO_FONDO {
	background-color: #fff;
}
.NEGRO_COLOR {
	color: #000;
}
/*TAMAÑO DE LETRA*/
.LETRA_39 {
	font-size: 39px;
}
.LETRA_80 {
	font-size: 80px;
}
.ALIGN_RIGHT {
	text-align: right;
}

/*estilos*/
.PAGE {
	font-size: 80px;
	color: #FDB917;
	text-align: right;
}

/*BOTONES*/
.BOTON_EDITAR {
	background: #fff !important;
    box-shadow: none;
    color: #1B8DCB !important;
    margin-top: 20px;
}

.BOTON_CONECTESE {
	background: #1B8DCB !important;
    box-shadow: none;
    color: #FFF !important;
}

.m-t-15 {
	margin-top: 15px;
}
.font-16 {
	font-size: 16px;
}
.m-t-65 {
	margin-top: 65px;
}