body{
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: #FFFFFF;
}
/*HEADER*/
.header-home{
	position: fixed;
    top: 0;
    width: 100%;
    padding: 40px;
}
.header-home img{
	max-width: 150px;
}
.fondo-bottom{
	position: absolute;
	bottom: 0;
}
.fondo-bottom img{
	max-width: 1500px;
}
.logo-bottom{
	position: absolute;
	bottom: 0;
	padding: 40px;
}
.logo-bottom img{
	max-width: 150px;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px 40px;
}
.header h2{
	margin: 0;
	padding: 0;
	display: inline-block;
	border-left: 1px solid #FFFFFF;
	padding-left: 20px;
	vertical-align: middle;
    font-size: 24px;
}
.logo-header{
	max-width: 140px;
	margin-right: 20px;
}
/*QUESTIONS*/
h2.question{
	font-size: 32px;
}
span.number{
	color: #FBB819;
    font-size: 75px;
    font-weight: 100;
}
/*FULLPAGE*/
.fp-controlArrow.fp-prev{
	border-color: transparent #FBB819 transparent transparent
}
.fp-controlArrow.fp-next{
	border-color: transparent transparent transparent #FBB819;
}
/*MDL-CARD-QUESTION*/
.mdl-card-question{
	display: block;
	position: relative;
	background-color: transparent;
	max-width: 200px;
	width: 200px;
  	height: 200px;
	border-radius: 10px;
	margin: 5px;
	cursor: pointer;
	transform-style: preserve-3d;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.flip-card .card-front,
.flip-card .card-back {
	border: 1px solid #FBB819;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 500ms;
	-o-transition: -o-transform 500ms;
	-webkit-transition: -webkit-transform 500ms;
	transition: transform 500ms;
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}
.flip-card .card-front {
  -moz-transform: perspective(300) rotateY(0);
  -webkit-transform: perspective(300) rotateY(0);
  transform: perspective(300) rotateY(0);
  z-index: 900;
}
.flip-card .card-back {
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  z-index: 800;
  background-color: #F8B22C;
}
.flip-card:hover .card-front {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -moz-transform: perspective(300) rotateY(180deg);
  -webkit-transform: perspective(300) rotateY(180deg);
  transform: perspective(300) rotateY(180deg);
}
.flip-card:hover .card-back {
  z-index: 950;
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -moz-transform: perspective(300) rotateY(0deg);
  -webkit-transform: perspective(300) rotateY(0deg);
  transform: perspective(300) rotateY(0deg);
}
.flip-card {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  min-width: 100px;
  max-width: 400px;
}
.flip-card .card-front,
.flip-card .card-back {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 2px rgba(14, 85, 143, 0.8);
  -webkit-box-shadow: 1px 1px 2px rgba(14, 85, 143, 0.8);
  box-shadow: 1px 1px 2px rgba(14, 85, 143, 0.8);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0;
}
.mdl-card-question .card-front img{
	width: 100%;
	max-width: 180px;
}
.mdl-card-question .card-front p{
	color: #FFFFFF;
}

.mdl-card-question .card-back i,
.mdl-card-question .card-front i,
.mdl-card__menu{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #FFFFFF;
}
/*BARRA SCROLL*/
::-webkit-scrollbar {
	width: 4px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}