body{
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: #FFFFFF;
}
/*HEADER*/
.header-home{
	position: fixed;
    top: 0;
    width: 100%;
    padding: 40px;
}
.header-home img{
	max-width: 150px;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px 40px;
}
.header h2{
	margin: 0;
	padding: 0;
	display: inline-block;
	border-left: 1px solid #FFFFFF;
	padding-left: 20px;
	vertical-align: middle;
    font-size: 24px;
}
.logo-header{
	max-width: 140px;
	margin-right: 20px;
}
/*FULLPAGE*/
.fp-controlArrow.fp-prev{
	border-color: transparent #FBB819 transparent transparent
}
.fp-controlArrow.fp-next{
	border-color: transparent transparent transparent #FBB819;
}
/*BARRA SCROLL*/
::-webkit-scrollbar {
	width: 4px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}