/*MARGIN*/
.m-0{
	margin: 0 !important;
}
.m-t-0{
	margin-top: 0 !important;
}
.m-r-0{
	margin-right: 0 !important;
}
.m-b-0{
	margin-bottom: 0 !important;
}
.m-l-0{
	margin-left: 0 !important;
}
.m-t-10{
	margin-top: 10 !important;
}
.m-r-10{
	margin-right: 10 !important;
}
.m-b-10{
	margin-bottom: 10 !important;
}
.m-l-10{
	margin-left: 10 !important;
}
.m-t-20{
	margin-top: 20 !important;
}
.m-r-20{
	margin-right: 20 !important;
}
.m-b-20{
	margin-bottom: 20 !important;
}
.m-l-20{
	margin-left: 20 !important;
}
.m-t-30{
	margin-top: 30 !important;
}
.m-r-30{
	margin-right: 30 !important;
}
.m-b-30{
	margin-bottom: 30 !important;
}
.m-l-30{
	margin-left: 30 !important;
}
.m-t-40{
	margin-top: 40 !important;
}
.m-r-40{
	margin-right: 40 !important;
}
.m-b-40{
	margin-bottom: 40 !important;
}
.m-l-40{
	margin-left: 40 !important;
}
/*PADDING*/
.p-0{
	padding: 0 !important;
}
.p-t-0{
	padding-top: 0 !important;
}
.p-r-0{
	padding-right: 0 !important;
}
.p-b-0{
	padding-bottom: 0 !important;
}
.p-l-0{
	padding-left: 0 !important;
}
.p-t-10{
	padding-top: 10 !important;
}
.p-r-10{
	padding-right: 10 !important;
}
.p-b-10{
	padding-bottom: 10 !important;
}
.p-l-10{
	padding-left: 10 !important;
}
.p-t-20{
	padding-top: 20 !important;
}
.p-r-20{
	padding-right: 20 !important;
}
.p-b-20{
	padding-bottom: 20 !important;
}
.p-l-20{
	padding-left: 20 !important;
}
.p-t-30{
	padding-top: 30 !important;
}
.p-r-30{
	padding-right: 30 !important;
}
.p-b-30{
	padding-bottom: 30 !important;
}
.p-l-30{
	padding-left: 30 !important;
}
.p-t-40{
	padding-top: 40 !important;
}
.p-r-40{
	padding-right: 40 !important;
}
.p-b-40{
	padding-bottom: 40 !important;
}
.p-l-40{
	padding-left: 40 !important;
}
/*BORDER*/
.br-0{
	border-radius: 0 !important;
}