@font-face {
	font-family: 'BentonSansBold';
	src: url('BentonSans/BentonSans-Bold.otf');
	font-weight: 100;
}

@font-face {
	font-family: 'BentonSansBook';
	src: url('BentonSans/BentonSans-Book.otf');
	font-weight: 100;
}

@font-face {
	font-family: 'BentonSansLight';
	src: url('BentonSans/BentonSans-Light.otf');
	font-weight: 100;
}

@font-face {
	font-family: 'BentonSansLightItalic';
	src: url('BentonSans/BentonSans-LightItalic.otf');
	font-weight: 100;
}

@font-face {
	font-family: 'BentonSansRegular';
	src: url('BentonSans/BentonSans-Regular.otf');
	font-weight: 100;
}